/*----------------------------------------------------------------- generales -----------------------------------------------------------------*/
* {
  margin: 0px;
}

ul {
  list-style: none;
}

body {
  margin: 0px;
  font-family: 'Bebas Neue', cursive;
  background-image: url("../public/img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;


}

a {
  text-decoration: none;
  color: black;
}

.opasity {
  opacity: 0%;
  cursor: none;

}

button {

  font-family: 'Bebas Neue', cursive;
  margin-top: 5px;
  font-size: 25px;
  border-radius: 10px;
  background-color: rgb(205, 205, 205);
  padding: 2px 10px;
  cursor: pointer;

  color: white;
  margin-top: 8px;
  background-color: #ffffff00;
  border: solid 1px white;

  display: flex;
  color: white;
  align-items: center;

}

button a {
  display: flex;
  color: white;
  align-items: center;
}

.volver {
  margin-left: 50px;
  font-size: 30px;
}


button:hover {
  animation: animacion 1s;
  box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  scale: 1.1;
}

/*----------------------------------------------------------------- generales fin -----------------------------------------------------------------*/

/*----------------------------------------------------------------- header -----------------------------------------------------------------*/
header {
  position: relative;
  width: 100%;
}

header .cuerpo-up-2 {

  display: flex;

  justify-content: space-between;




  background-color: rgba(38, 38, 38, 0.784);

  padding: 5px 2px 5px 2px;

  border-radius: 0px 0px 10px 10px;
}

header .cuerpo-up-2:hover {
  background-color: rgb(38, 38, 38);
  border-bottom: groove rgb(55, 54, 54) 1px;
  transition-duration: 1s;
}


/* logo */
.cuerpo-up-logo {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logo img {
  margin-top: 5px;
  height: 70px;
}

.logo {
  margin-left: 10px;
}



.logo:hover {
  scale: 1.2;
  transition-duration: 0.2s;
}





/* logo */
/* tienda */
.tienda {
  margin-right: 20px;
  cursor: pointer;
}

.tienda:hover {
  scale: 1.2;
  transition-duration: 0.2s;
}

.tienda .num {
  position: relative;
  background-color: rgba(101, 101, 101, 0.831);
  translate: 13px 20px;
  color: white;

  font-size: 17px;
  border-radius: 10px;
  border: solid black 1px;
  padding: 0px 10px;
}

.tienda .bolsa {
  font-size: 30px;
  color: white;
}

/* tienda */
/*----------------------------------------------------------------- header fin -----------------------------------------------------------------*/
/* ---------------------------------------------------------------------------------------------------------------------------------------------*/
/*----------------------------------------------------------------- main  -----------------------------------------------------------------*/

main {
  min-height: 80.8vh;


}

/* titulo */
.tituloanimado {
  color: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 100px;
  margin-top: 50px;
}

.tituloanimado .anx {
  margin-left: 15px;
  margin-right: 15px;
}

.tituloanimado .an1 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.1s;
}

.tituloanimado .an2 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.2s;
}

.tituloanimado .an3 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.3s;
}

.tituloanimado .an4 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.4s;
}

.tituloanimado .an5 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.5s;
}

.tituloanimado .an6 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.6s;
}

.tituloanimado .an7 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.7s;
}

.tituloanimado .an8 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.8s;
}

.tituloanimado .an9 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 1.9s;
}

.tituloanimado .an10 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 2s;
}

.tituloanimado .an11 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 2.1s;
}

.tituloanimado .an12 {
  margin-left: 3px;
  margin-right: 3px;
  animation: parpadear 3s infinite;
  animation-delay: 2.2s;
}





@keyframes parpadear {
  0% {

    opacity: 10%;
  }

  50% {

    opacity: 100%;



  }

  100% {

    opacity: 10%;
  }
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 40px;
  color: white;
}

.cuerpo-mid .ropa {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-top: 15vh;
}

.cuerpo-mid .ropa img {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 30px;
  border: solid 0px black;
  transition: 1s ease;

}

.cuerpo-mid .ropa img:hover {
  transform: scale(0.95);

  rotate: 2deg;
  background-color: rgba(0, 0, 0, 0.149);
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;
  border: solid 1px black;


}


.cuerpo-mid .ropa li:hover {
  rotate: -2deg;
  background-color: rgba(100, 100, 100, 0.572);
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;

}

.cuerpo-mid .ropa li {
  transition: 1s ease;
  padding: 2px;
  background-color: rgba(0, 0, 0, 0.149);
  border-radius: 30px;
  box-shadow: 10px 10px 10px black;

}

#ropa-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ropa-oculto {
  position: absolute;
  margin-top: 120px;
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 80px;
  border-radius: 20px;
  text-shadow: 1px 1px 50px #000000, -1px -1px 50px #000000, 1px 1px 50px #000000, -1px -1px 50px #000000;
  padding: 15px 0px;
  text-align: center;
  font-family: 'Bebas Neue', cursive;
}

.ocultar {
  display: none;
}

/* main contacto */
.cuerpo-mid-contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cuerpo-mid-contacto .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100vh;
}

.cuerpo-mid-contacto .form div {
  background-color: rgba(100, 100, 100, 0.572);
  padding: 5px 25px;
}

.cuerpo-mid-contacto .form .form__botones {
  padding: 5px 55px;
  margin-bottom: 20px;
  border-radius: 0px 0px 10px 10px;
}

.cuerpo-mid-contacto .form .form__input_text {
  border-radius: 10px 10px 0px 0px;
  padding-top: 15px;
}

.cuerpo-mid-contacto .form .form__botones input {
  padding: 2px 20px;
  border-radius: 7px;
}


/* map */
.cuerpo-mid-contacto .formap__iframe {
  margin-left: 100vh;
  border-radius: 45px;
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  padding: 1px;
  margin-bottom: 20px;
}

/* main productos */
.products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;

}


.products .items img {
  height: 300px;
  border-radius: 25px;
  
}

.products .items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
  border-radius: 25px;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  border: solid white 1px;
  box-shadow: 0px 0px 10px #9927f7, inset 0px 0px 10px #9927f7, 0px 0px 25px #9927f7, inset 0px 0px 25px #9927f7;

  transition: .4s ease-in-out;
}

.products p {
  margin-top: 10px;

}

.products .items:hover {
  scale: 1.05;
  
}

.products .items div {
  display: flex;
  flex-direction: column;
  align-items: center;

}



.products a {
  color: white;
}



/* animaciones */
@keyframes animacion {
  0% {
    box-shadow: 0px 0px 5px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00;
  }

  25% {
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  }

  50% {
    box-shadow: 0px 0px 5px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00;
  }

  65% {
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  }

  70% {
    box-shadow: 0px 0px 5px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00;
  }

  80% {
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  }

  90% {
    box-shadow: 0px 0px 5px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 15px #9827fb00;
  }

  100% {
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  }
}

@keyframes animacionn {
  0% {
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  }

  50% {
    box-shadow: 0px 0px 5px #9827fb00, 0px 0px 25px #9827fb00, 0px 0px 15px #9827fb00, 0px 0px 25px #9827fb00;
  }

  100% {
    box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;
  }

}

.detalle .items {
  padding: 20px;
  flex-direction: row;

}

.detalle .items img {
  height: 400px;
  box-shadow: 0px 0px 5px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb, inset 0px 0px 15px #9927fb;

}

.detalle .info {
  margin-left: 20px;
}




/* main contacto */
@media (max-width: 1330px) {


  .cuerpo-mid .ropa img {
    height: 300px;



  }



  .ropa-oculto {
    margin-top: 90px;
    font-size: 70px;
  }
}

@media (max-width: 1000px) {


  .cuerpo-mid .ropa img {
    height: 300px;
    margin-top: 10px;



  }

  .ropa li {
    margin-top: 20px;
  }

  .ropa-oculto {
    margin-top: 90px;
    font-size: 70px;
  }

  .cuerpo-mid .ropa {
    flex-direction: column;
  }
}

@media (max-width: 400px) {


  .cuerpo-mid .ropa img {
    height: 270px;
    margin-top: 10px;



  }

  ul {
    padding-left: 0px
  }

  .ropa li {
    margin-top: 20px;

  }

  .ropa-oculto {
    margin-top: 90px;
    font-size: 60px;
  }

  .cuerpo-mid .ropa {
    flex-direction: column;
  }
}




/*----------------------------------------------------------------- main fin -----------------------------------------------------------------*/